body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #e8bcf0;
  color: #e8bcf0;
}
#foodquestion {
  font-size: 40px;
  padding: 10px 20px
  margin: 10px;
  margin-bottom: 20px;
  background-color: #9F82CE;
  color: #63589F;
  border-radius: 12px;
  border: 2px solid #4c00b9;
  box-shadow: 1px 1px 2px #7600bc;
}
.food-item {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  color: #63589F4;
}
.food-item img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #ff9494;
  object-fit: cover;
  padding: 10px;
}
.food-item label {
  display: block;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}
