body {
  text-align: center;
  margin-top: 30px;
  font-family: "Courier";
  background-color: #e8bcf0;
  color: #e8bcf0
}

img {
  height: 400px;
  width: auto;
  padding: 10px;
}

#valentineQuestion {
  font-size: 40px;
  padding: 10px 20px
  margin: 10px;
  margin-bottom: 20px;
  background-color: #9F82CE;
  color: #63589F;
  border-radius: 12px;
  border: 2px solid #4c00b9;
  box-shadow: 1px 1px 2px #7600bc;
}
.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #D1AFE8;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #9F82CE;
  box-shadow: 1px 1px 2px #9F82CE;
  transition: 0.3s;
}

.answerButton:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
  box-shadow: 1px 1px 2px #ffe3e1;
}
